@import url("variables.css");
@import url("globals.css");
@import url("nav.css");
@import url("questions.css");
@import url("card_txt_around_img.css");
@import url("testimonials.css");
@import url("contact.css");
@import url("xp.css");
