
:root {

/* Colors */
--light-orange: #f2d0a9ff;
--almond: #f1e3d3ff;
--crimson: #dc143cff;

--dark-blue: #357cf6;
--dark-base: #222;
--lighter-dark: #333;
--gray: #858585;
--light-gray: #d2d2d2;
--light-white: #f1f1f1;


/* gradiants */
--blue-gradient : linear-gradient(to bottom, #357cf6, #90bbda);
--dark-right : linear-gradient(to bottom right, #252525, #383838);

--striped-pinky: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, #f3cdcd, #f4e0bb);



--striped-blue: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right,  #357cf6, #90bbda);


--striped-blue-orange: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right,  #90bbda, #f4e0bb);
/* 
color: #44779f;

color: #4E6270 */
  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

}