{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="commun-section">
  <div class="large-container container">
    <h1 class="heading-2-dark">Contact</h1>

    <div class="narrow-container">
      {% if intro_text %}
        <div class="intro">{{ intro_text|safe }}</div>
      {% endif %}

      <form action="{% url 'contact:contact' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="row">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}
                <span class="field_required">*</span>
              {% endif %}
            </label>

            <div class="text-field">
              {{ field }}
              {% if field.errors %}
                <div class="errorlist">{{ field.errors }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <button type="submit" class="button">Envoyer</button>
      </form>

      <p class="mention"><span class="field_required">*</span> champ obligatoire</p>
      <p>Nous n'utiliserons vos données que pour assurer le traitement de vos demandes.</p>
    </div>
  </div>
</section>
{% endblock %}
