{% load static %}
<div class="hero"> 
  
  <div class="logo">
    <a href="#"><img src="{% static 'images/logo/COURSAB2150x150NT.width-240.png'%}" alt="logo"/></a>
  </div>
  <div class="title">
    <h1 class="main-heading">Cours AB Carré</h1>
    <h2 class="heading-2">- Assistance Scolaire -</h2>
    <h2 class="heading-3"> Maths et Physique </h2>
  </div>
</div>
  <nav>
    <div class="items">
      <a href="/">Accueil</a>
      <a href="/qui-suis-je/">Qui suis-je ?</a>
      <a href="/contact/">Contact</a>
    </div>
  </nav> 
  